<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css.css">
</head>
<body>
	<!-- c1 start -->
	<div class="col-md-12 fwb" id="c1">
		<div class="container">
			<div class="col-md-6 logo">
				<p>Study Web</p></div>
			<div class="col-md-6 header text">
				<ul class="fr">
					<li class="fl">About</li>
					<li class="fl">Service</li>
					<li class="fl">Design</li>
					<li class="fl">Gallery</li>
					<li class="fl">Social</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- c1 end -->



	<!-- c2 end -->

	<div id="slide1" class="col-md-12">
		<input type="radio" name="pos" id="pos1" checked>
		<input type="radio" name="pos" id="pos2" >
		<input type="radio" name="pos" id="pos3" >
		<input type="radio" name="pos" id="pos4" >
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p class="pos">
			<label for="pos1"></label>
			<label for="pos2"></label>
			<label for="pos3"></label>
			<label for="pos4"></label>
		</p>
	</div>

	<!-- title start -->
	<div class="col-md-12 title tc">
		<div class="container">
			<ul>
				<li>About</li>
				<li class="ma"></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deleniti incidunt ipsa laudantium quaerat quae rerum adipisci quos, in ab minus autem? Ad dolor, voluptate, quisquam voluptates ea dolores iusto.</li>
			</ul>
		</div>
	</div>
	<!-- title end -->

	<!-- c3 start -->
	<div class="col-md-12" id="c3">
		<div class="container">
			<div class="col-md-6 box1">
				<div class="bgi ma"></div>
			</div>
			<div class="col-md-6 box2">
				<div class="bgb ma"></div>
			</div>
			<div class="col-md-3 box3">
				<div class="bgr ma"></div>
			</div>
			<div class="col-md-3 box4">
				<div class="ibg ma"></div>
			</div>
			<div class="col-md-6 box5">
				<div class="bgo ma"></div>
			</div>
			<div class="col-md-6 box6">
				<div class="bgy ma"></div>
			</div>
		</div>
	</div>
	<!-- c3 end -->

		<!-- title start -->
	<div class="col-md-12 title tc">
		<div class="container">
			<ul>
				<li>Service</li>
				<li class="ma"></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deleniti incidunt ipsa laudantium quaerat quae rerum adipisci quos, in ab minus autem? Ad dolor, voluptate, quisquam voluptates ea dolores iusto.</li>
			</ul>
		</div>
	</div>
	<!-- title end -->

	<!-- c4 start -->
	<div class="col-md-12" id="c4">
		<div class="container">
			<div class="col-md-6">
				<div class="bgb ma"></div>
			</div>
			<div class="col-md-6">
				<div class="bgi ma"></div>
			</div>
			<div class="col-md-6">
				<div class="ibg ma"></div>
			</div>
			<div class="col-md-6">
				<div class="bgo ma"></div>
			</div>
		</div>
	</div>
	<!-- c4 end -->

	<!-- c5 start -->
	<div class="col-md-12" id="c5">
		<div class="col-md-6 tc slide bgi"><p>720 X 320</p></div>
		<div class="col-md-6 tc c5_img"><p>IMAGE</p></div>
	</div>
	<!-- c5 end -->
	<div class="col-md-12" id="slider">
		<figure>
			<img src="img/1.jpg" alt="image1">
			<img src="img/2.jpg" alt="image2">		
			<img src="img/3.jpg" alt="image3">		
			<img src="img/4.jpg" alt="image4">		
			<img src="img/5.jpg" alt="image5">			
		</figure>
	</div>
	<!-- title start -->
	<div class="col-md-12 title tc">
		<div class="container">
			<ul>
				<li>Gallery</li>
				<li class="ma"></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deleniti incidunt ipsa laudantium quaerat quae rerum adipisci quos, in ab minus autem? Ad dolor, voluptate, quisquam voluptates ea dolores iusto.</li>
			</ul>
		</div>
	</div>
	<!-- title end -->

	<!-- c6 start -->
	<div class="col-md-12" id="c6">
		<div class="container">
			<div class="col-md-4">
				<div></div>
			</div>
			<div class="col-md-4">
				<div></div>
			</div>
			<div class="col-md-4">
				<div></div>
			</div>
			<div class="col-md-4">
				<div></div>
			</div>
			<div class="col-md-4">
				<div></div>
			</div>
			<div class="col-md-4">
				<div></div>
			</div>
		</div>
	</div>
	<!-- c6 end -->


	<!-- title start -->
	<div class="col-md-12 title tc">
		<div class="container">
			<ul>
				<li>Social</li>
				<li class="ma"></li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, deleniti incidunt ipsa laudantium quaerat quae rerum adipisci quos, in ab minus autem? Ad dolor, voluptate, quisquam voluptates ea dolores iusto.</li>
			</ul>
		</div>
	</div>
	<!-- title end -->

	 <!-- c7 start -->
	 <div class="col-md-12" id="c7">
	 	<div class="container">
	 		<div class="flip fl">
	 			<img src="social/sns1.png" alt="img" title="img">
	 		</div>
	 		<div class="flip fl">
	 			<img src="social/sns2.png" alt="img" title="img">
	 		</div>
	 		<div class="flip fl">
	 			<img src="social/sns3.png" alt="img" title="img">
	 		</div>
	 		<div class="flip fl">
	 			<img src="social/sns4.png" alt="img" title="img">
	 		</div>	 
	 	</div>
	 </div>
	 <!-- c7 end -->


	 <!-- c8 start -->
	 <div class="col-md-12" id="c8">
		 <p class="tc">copyright ⓒ 2018 by Study Web</p>
	 </div>
	 <!-- c8 end -->

	


</body>
</html>
